* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}


@import "../scss/font";
@import "../scss/btn";
@import "../scss/header";
@import "../scss/home";
@import "../scss/services";
@import "../scss/about-us";
@import "../scss/all-services";
@import "../scss/all-projects";
@import "../scss/video";
@import "../scss/subscibe";
@import "../scss/footer";
@import "../scss/media";