.about-us {
    margin-top: 105px;
    padding-top: 85px;
    background: #F6F6F8;

    &__img {
        width: 100%;
        height: 100%;
    }

    .container {
        .row-1 {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                max-width: 1110px;
                width: 100%;
                height: 1px;
                background: #E0E0E0;
                top: 100%;
                margin-top: 90px;
            }
        }

        .row-2 {
            margin-top: 160px;
            padding-bottom: 70px;

            .col {
                .wrapper {
                    width: 104px;
                    height: 67px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    &__icon {
                        width: 30px;
                        height: 30px;
                        margin: 0 20px 0 0;
                    }

                    &__title {
                        @include textStyle(normal, 36px, 53px, #000);
                        margin: 0;
                    }

                    &__text {
                        @include textStyle(normal, 16px, 25px, #999);
                        margin: 0;
                    }
                }
            }
        }
    }

    &__title {
        @include textStyle(bold, 36px, 53px, #323232);
    }

    &__descr {
        @include textStyle(normal, 16px, 25px, #999);
        margin: 40px 0 0;
    }

    &__link {
        @include textStyle(500, 16px, 20px, #4985FF);
        text-decoration-line: underline;
        margin: 30px 0 0;
    }
}