.all-services {
    @include adaptive-value(padding-top, 100, 50, 0);
    @include adaptive-value(padding-bottom, 85, 50, 0);
    background: #fff linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%) center top/100% 50% no-repeat;

    &__title {
        color: #fff;
    }

    &__btn {
        margin: 0;
    }

    .wrapper {
        @include adaptive-value(margin-top, 70, 50, 0);

        &__title {
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            margin: 30px 0;

            span {
                color: #4985FF;
            }
        }

        img {
            background: grey;
            border-radius: 10px;
        }
    }

    &__line {
        @include adaptive-value(margin-top, 85, 50, 0);
    }
}