.all-services {
    padding: 100px 0 85px;
    background: #fff linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%) center top/100% 50% no-repeat;

    &__title {
        color: #fff;
    }

    &__btn {
        margin: 0;
    }

    &__margin {
        margin-bottom: 70px;
    }

    .wrapper {
        &__title {
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            margin: 30px 0;

            span {
                color: #4985FF;
            }
        }
    }

    &__line {
        margin-top: 85px;
    }
}