.all-project {
    display: flex;
    padding: 100px 0 130px;
    background: #F6F6F8;

    &__title {
        text-align: center;
    }

    &__descr {
        text-align: center;
        margin: 50px 0 70px;
    }

    &__btn {
        margin-top: 50px;
    }
}