.all-project {
    background: #F6F6F8;
    @include adaptive-value(padding-top, 100, 50, 0);
    @include adaptive-value(padding-bottom, 130, 50, 0);

    &__title {
        text-align: center;
    }

    &__descr {
        text-align: center;
        @include adaptive-value(margin-top, 50, 30, 0);
    }

    .wrapper {
        @include adaptive-value(margin-top, 70, 50, 0);

        img {
            background: grey;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__btn {
        margin-top: 50px;
    }
}