.footer {
    padding: 70px 0 30px;
    background: #f6f6f8;

    &__title {
        @include textStyle(600, 18px, 22px, #000);
        margin-bottom: 35px;
    }

    &-nav {
        padding: 0;
        list-style: none;

        &__item {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        &__link {
            font-size: 14px;
            color: #999999;
            display: flex;
            column-gap: 10px;
            text-decoration: none;
            align-items: center;
        }
    }

    &__line {
        @include adaptive-value(margin-top, 70, 50, 0);
        margin-bottom: 30px;
    }

    &__rights {
        @include textStyle(normal, 13px, 21px, #999);
        text-align: center;
        margin-top: 30px;
    }
}