.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 40px 0;
    border-bottom: 1px solid #A1A1A1;

    .navbar {
        padding: 0;
        justify-content: flex-end;

        &-nav {
            .nav {
                &-item {
                    position: relative;

                    &:not(:last-child) {
                        margin-right: 40px;
                    }

                    &:hover::before {
                        content: '';
                        position: absolute;
                        top: calc(100% + 39px);
                        left: 50%;
                        transform: translateX(-50%);
                        width: calc(100% + 40px);
                        height: 3px;
                        background: #fff;
                    }
                }

                &-link {
                    color: #fff;
                    padding: 0;
                    font-weight: 500;
                }
            }
        }
    }
}