.home {
    background: url(../images/bg.png) center center/cover no-repeat;
    padding: 319px 0 335px;

    &__title {
        @include textStyle(500, 16px, 20px, #fff);
        text-align: center;
    }

    &__descr {
        @include textStyle(800, 48px, 64px, #fff);
        text-align: center;
        margin: 20px 0 50px;
    }
}