.services {
    padding-top: 110px;
    padding-bottom: 105px;

    &__title {
        text-align: center;
    }

    &__descr {
        text-align: center;
        margin: 50px 0 116px;
    }

    .wrapper {
        position: relative;

        &__icon {
            position: absolute;
            top: 0;
            left: 55px;
            transform: translateX(-50%);
            width: 40px;
            height: 40px;
            background: url(../images/services/services__icon.svg);

            &::before {
                @include cyrcle(90px, 90px, #4985FF);
            }

            &::after {
                @include cyrcle(110px, 110px, #E0E0E0);
            }
        }

        &__title {
            @include textStyle(600, 18px, 22px, #000);
            padding-left: 127px;
            padding-top: 11px;
            position: relative;
        }

        &__descr {
            padding-left: 127px;
        }
    }


    &__btn {
        margin-top: 55px;
    }
}